@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --dotnet-purple: #512bd4;
    --dotnet-purple-hover: #4411BB;
    --dotnet-purple-border-hover: #3311BB;
}

.bg-dotnet {
    background-color: var(--dotnet-purple) !important;
}

.btn-dotnet {
    color: #fff;
    background-color: var(--dotnet-purple);
    border-color: var(--dotnet-purple);
}

    .btn-dotnet:hover {
        color: #fff;
        background-color: var(--dotnet-purple-hover);
        border-color: var(--dotnet-purple-border-hover);
    }

html, body {
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Custom */

.gh-issue-title {
    text-decoration: none !important;
    color: var(--color-text-primary);
    font-weight: bold;
}

    .gh-issue-title code {
        border-radius: 6px;
        background-color: lightgray;
        padding: 2px 4px;
    }

.gh-label {
    margin: 0 2px;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;

    --perceived-lightness: calc((var(--label-r)*0.2126 + var(--label-g)*0.7152 + var(--label-b)*0.0722)/255);
    --lightness-switch: max(0,min(calc((var(--perceived-lightness) - var(--lightness-threshold))*-1000),1));
    --lightness-threshold: 0.453;
    --border-threshold: 0.96;
    --border-alpha: max(0,min(calc((var(--perceived-lightness) - var(--border-threshold))*100),1));

    background: rgb(var(--label-r),var(--label-g),var(--label-b));
    color: hsl(0,0%,calc(var(--lightness-switch)*100%));
    border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) - 25)*1%),var(--border-alpha));
}

.gh-label:hover {
    cursor: pointer;
}

.gh-table-header {
    padding: 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: var(--light);
}

.gh-table-group-header {
    padding: 4px;
    background-color: rgb(234 234 234);
}

    .gh-table-group-header td {
        vertical-align: middle;
    }

.gh-group-key-list {
}

.gh-group-key {
    color: var(--secondary);
}

    .gh-group-key:after {
        content: "/";
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 700;
    }

    .gh-group-key:last-child {
        font-weight: bold;
        color: unset;
    }

        .gh-group-key:last-child::after {
            content: "";
        }

.gh-table-group-toggle {
    border-radius: 4px;
    margin-left: 4px;
}

    .gh-table-group-toggle:hover {
        margin: -4px -4px -4px 0px;
        padding: 4px;
        background-color: lightgray;
    }

.text-merged {
    color: #a371f7;
}

pre {
    border-radius: 6px;
    padding: 10px 20px;
    background-color: var(--light);
}

.alert pre {
    margin: 0;
    padding: 0;
    background: unset;
    color: var(--dark);
}

@media (prefers-color-scheme: dark) {

    a:hover {
        color: rgb(88, 166, 255);
    }

    .gh-issue-title code {
        background-color: rgba(240, 246, 252, 0.15);
    }

    .gh-label {
        --lightness-threshold: 0.6;
        --background-alpha: 0.18;
        --border-alpha: 0.3;
        --lighten-by: calc((var(--lightness-threshold) - var(--perceived-lightness))*100*var(--lightness-switch));
        background: rgba(var(--label-r),var(--label-g),var(--label-b),var(--background-alpha));
        color: hsl(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%));
        border-color: hsla(var(--label-h),calc(var(--label-s)*1%),calc((var(--label-l) + var(--lighten-by))*1%),var(--border-alpha));
    }

    .gh-table-header {
        background: var(--dark);
    }

    .gh-table-group-header {
        background: rgb(37 42 48);
        align-content: center;
    }

    .gh-table-group-toggle:hover {
        background-color: var(--secondary);
    }

    pre {
        background-color: rgba(240, 246, 252, 0.15);
        color: var(--light);
    }
}

/* Code Mirror */

.query-editor {
    padding: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    z-index: 3;
}

    .query-editor:focus-within {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    }

    .query-editor .CodeMirror {
        height: 100%;
        padding: 0;
        padding-left: 0.25em;
        padding-top: 1px;
        background: unset;
        z-index: 3;
    }

@media (prefers-color-scheme: dark) {

    .query-editor {
        background-color: black;
    }

        .query-editor:focus-within {
            color: rgb(222, 226, 230);
            background-color: rgb(25, 29, 33);
            border-color: rgb(179, 215, 255);
            box-shadow: rgb(0 123 255 / 25%) 0px 0px 0px 0.2rem;
        }

    .CodeMirror-hints {
        position: absolute;
        z-index: 10;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 2px;
        border-radius: 3px;
        border: 1px solid silver;
        border-color: rgb(179, 215, 255);
        box-shadow: rgb(0 123 255 / 25%) 0px 0px 0px 0.2rem;
        background: black;
        font-size: 90%;
        font-family: monospace;
        max-height: 20em;
        overflow-y: auto
    }

    .CodeMirror-hint {
        margin: 0;
        padding: 0 4px;
        border-radius: 2px;
        white-space: pre;
        color: var(--color-text-primary);
        cursor: pointer
    }

    li.CodeMirror-hint-active {
        background: #08f;
        color: #fff
    }
}

/* Dropdown */

.dropdown-toggle:focus ~ .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}