name: Refresh Index

on:  
  workflow_dispatch:
  schedule:
    - cron: '21 12 * * *' # every day at 12:21 PM UTC (5:21 AM PT)

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v2

    # Publishing

    - name: Crawl GitHub orgs
      env:
        GitHubAppId: ${{ secrets.CRAWLER_GITHUB_APP_ID }}
        GitHubAppPrivateKey: ${{ secrets.CRAWLER_GITHUB_APP_PRIVATE_KEY }}
        AzureStorageConnectionString: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
      run: |
        cd src/ghcrawler
        dotnet run -- --subscriptions
